.header {
    margin: 0px;
    padding: 10px;

    background-color: navy;
}

.body {
    background-color: white;
    padding: 0px;
    margin: 0px;
    background-image: url("https://www.w3schools.com/images/background_in_space.webp");
}

.page {
    margin: 12px;
    padding: 5px;
    background-color: #f8daaf;
}

.page > h1, .block {
    margin: 10px;
    padding: 5px;
}

/* Dark Mode */
.page.dark-mode-active {
    background-color: #333;
    color: white;
}

/* #4078c0 */

/* Dark Mode */
.block.dark-mode-active {
    background-color: #454544;
}

.block.dark-mode-active p {
    color: white;
}

.block.dark-mode-active a {
    color: lightblue;
}

.block {
    background-color: antiquewhite;
    border-style: solid;
    border-color: black;
    border-width: thin;
    /* background-image: url("https://www.w3schools.com/images/background_in_space.webp"); */
}

.block > h2, p {
    margin: 4px;
    font-size: 90%;
    text-align: left;
}

.comment {
    background-color: whitesmoke;
}

.comment p {
    font-size: 80%;
}

.footer {
    background-color: blueviolet;
    margin: 0px;
    padding: 10px;
}